{% extends 'base2.html.twig' %}
{% block content %}

    <section id="main-content">
        <section class="wrapper">
            <center>
            <div class="row">
               ///<h3> Add Abscense </h3>
                {{ form (form) }}
            </div> </section> </section>
    </center>
{% endblock %}