{% extends 'base2.html.twig' %}
{% block content %}

    <section id="main-content">
        <section class="wrapper">
            <center>
                <div class="row">
                    ///<h4>  Update Abscense </h4>
                    {{ form (form) }}
                </div> </section> </section>
    </center>
{% endblock %}


